body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: darkmagenta;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  font-size: 32px;
  font-weight: 900;
}

.container {
  display: flex;
  flex-grow: 1;
}


.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  flex: 0 0 300px; 
  background: royalblue;
  /* box-sizing: border-box; */
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}

.card-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;

  flex: 1 1 300px;
  max-width: 400px;
  padding: 10px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}